@use "sass:math";

$fontFamily: Montserrat;
$fontSize: rem(33);
$mainColor: rgb(0, 0, 0);
$menuColor: rgba(14, 115, 136, 0.918);

$textSettinsColor: hsl(67, 76%, 34%);
$hrSettinsColor: #d7d7d1;
// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1460;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em(1590); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

$responsiveType: 1;
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,regular,italic,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Questrial:100,300,regular,italic,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Orbitron:100,200,300,regular,500,600,700);